<%# A list of all users. There is no pagination implemented for this QAP. %>
<!DOCTYPE html>
<html lang="en">
  <%- include("fragments/htmlHead"); %>
  <body>
    <div class="pageFrame">
      <%- include("fragments/header"); %>
      <div class="userListHead">Scoreboard</div>
      <table class="userList">
        <thead>
          <tr class="userListLabels">
            <td witdh="200">Name</td>
            <td>Score</td>
          </tr>
        </thead>
        <tbody>
          <% if (users.length > 0) { users.forEach(user => { %>
          <tr class="userListRow">
            <td class="userListData" width="200">
              <a href="/users/<%= user.id %>"
                ><%- user.display_name ? user.display_name : user.username %></a
              >
            </td>
            <td class="userListData">
              <span class="userPoints"><%= user.points %></span>
            </td>
          </tr>
          <% })} else { %>
          <tr>
            <td>Users could not be loaded.</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
