<%# The default page shown for a user who is not logged in %>
<!DOCTYPE html>
<html lang="en">
  <%- include("fragments/htmlHead"); %>
  <body>
    <div class="pageFrame">
      <%- include("fragments/header"); %>
      <div class="userProfilePanel">
        <div class="profileNametag">
          <div>
            <%- user.display_name ? user.display_name : user.username %>
          </div>
          <% if (user.display_name) { %>
          <div class="profileFootnote">(<%= user.username %>)</div>
          <% } %>
        </div>
        <div class="profileScoretag">
          <div>
            <%= user.points %><span class="profileScoreLabel">Points</span>
          </div>
        </div>
      </div>
      <form class="userEditForm" action="/users?_method=PATCH" method="post">
        <input type="hidden" name="id" value="<%= user.id %>" />
        <div class="userAttribute">
          <div class="editUserAttribute">
            Username:
            <input type="text" value="<%= user.username %>" disabled />
          </div>
          <div class="attributeInfo">
            This is used for login, and cannot be changed.
          </div>
        </div>
        <div class="userAttribute">
          <div class="editUserAttribute">
            Display name:
            <input
              type="text"
              name="display_name"
              value="<%= user.display_name %>"
            />
          </div>
          <div class="attributeInfo">
            If you specify a display name, it will be shown on your profile.
          </div>
        </div>
        <div class="userAttribute">
          <div class="editUserAttribute">
            Password:
            <input
              type="password"
              name="password"
              value=""
              placeholder="********"
            />
          </div>
          <div class="attributeInfo">
            You can change your password by editing this value.
          </div>
        </div>
        <div class="userAttribute">
          <div class="editUserAttribute">
            Email:
            <input type="text" name="email" value="<%= user.email %>" />
          </div>
          <div class="attributeInfo">
            Your email address. Note that this must be unique. Your email
            address will not be shared with other users.
          </div>
        </div>
        <div class="userAttribute">
          <div class="editUserAttribute">
            Score:
            <input type="number" name="points" value="<%= user.points %>" />
          </div>
          <div class="attributeInfo">
            Normally it would be silly to let players change their score, but
            this is just a proof of concept. :)
          </div>
        </div>
        <button type="submit" class="updateButton">Update</button>
      </form>
      <form
        class="userDeleteForm"
        action="/users/<%= user.id %>?_method=DELETE"
        method="post"
      >
        <div class="userAttribute">
          <div class="editUserAttribute">
            <button class="deleteButton">Delete Account</button>
          </div>
          <div class="attributeInfo">
            Deleting your account will remove you from the scoreboard. This
            action CANNOT be undone.
            <div class="deleteOk">
              <input type="checkbox" name="deleteOk" id="deleteOk" required />
              <label for="deleteOk">I want to delete my account.</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
